@media screen and (max-width: 768px){

    .main-nav__list {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}

@media screen and (max-width: 640px){

    .review p, .advantages p {
        text-align: justify;
    }

    .review h3 {
        display: block;
    }
        
    ::before, ::after {
        display: none;
    }

    .container {
        width: 90%;
    }
    
    .hamburger {
        top: 3vw;
    }
}

@media screen and (max-width: 480px) {

    form {
        height: 100vw;
    }
}
